:root {
  --IRIS: #4d5ae5;
  --NAVY: #2e2f42;
  --SLATE: #434455;
  --WHITE: #ffffff;
  --CLOUD: #f4f4fd;
  --OCEAN: #404bbf;
  --CORNFLOWER: #e7e9fc;
}
:root {
  --letter-spacing-h2: 0.036em;
  --letter-spacing-h3: 0.02em;
  --letter-spacing-button-text: 0.02em;
  --letter-spacing-logo: 0.03em;
  --letter-spacing-text: 0.02em;
  --main-header-text: 0.02em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ol,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--SLATE);
  background-color: var(--WHITE);
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ============================================================================= */
/* ============================= Mobile version ================================ */
/* ============================================================================= */


/* ========================= Header Styles ===================================== */


.container {
  max-width: 428px;
  padding: 0
  margin-left: auto;
  margin-right: auto;
  background: var(--WHITE);

}

.page-header {
    padding: 26px 16px 24px 16px;
    /* padding-bottom: 24px; */


    /* display: flex; */
    /* justify-content: center; */
  /* align-items:center; */
  border-bottom: 1px solid var(--CORNFLOWER);
  background: var(--WHITE);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.page-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-begin-up {
  margin-right: 76px;
  color: var(--IRIS);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: var(--letter-spacing-logo);
  text-transform: uppercase;
}

.logo-end-up {
  color: var(--NAVY);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: var(--letter-spacing-logo);
  text-transform: uppercase;
}


.nav-list {
    display: none;
}
.address {
   display: none;
  
}
/* ====================== Mobile only ============================== */
@media screen and (max-width: 767px) {

.mobile-menu-open-button {
    border: none;
    background-color: transparent;
    line-height: 0;
    padding: 0;
    stroke: var(--NAVY);

}

.mobile-menu-container {
    position: fixed;
    top: 0;
    right: 0;
    background-color: var(--WHITE);
    z-index: 9999999;
    width: 100%;
    height: 100%;
    padding-left: 40px;
    padding-bottom: 40px;
    transform: translateX(100%);
    transition: transform 250ms linear;

}

.mobile-menu-container.is-open {
    transform: translateX(0%);

}

.mobile-menu-container-close-button {
    position: absolute;
  top: 24px;

  right: 24px;
  width: 24px;
  height: 24px;
    display: flex;
    border: none;
    border-radius: 50%;
    align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    /* background-color: transparent; */
    /* line-height: 0; */
    /* padding: 0; */
    stroke: var(--WHITE);
    margin-left: auto;
    

}

.mobile-menu-navigation {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    margin-left: 40px;

}

.mobile-menu-nav-list {
display: flex;
flex-direction: column;
gap: 40px;
margin-bottom: 40px;
}

.mobile-menu-nav-list-item {

}

.mobile-nav-menu-link {
    
    color: var(--NAVY);
font-size: 36px;

font-weight: 700;
line-height: 1.11; /* 111.111% */
letter-spacing: 0.02em;
transition: 
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-nav-menu-link:focus,
.mobile-nav-menu-link:hover {
  
  color: var(--IRIS);
}


.mobile-menu-address {
    margin-bottom: 48px;

}

.mobile-menu-address-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.mobile-menu-phone {
    width:auto;
    max-height: 40px;
    color: var(--IRIS);

font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 1.11; /* 111.111% */
letter-spacing: 0.02em;
text-transform: capitalize;

}
.mobile-menu-address-text {
    max-width: 192px;
    max-height: 24px;
    color: var(--SLATE);
font-style: normal;
font-size: 20px;

font-weight: 500;
line-height: 1.2px; /* 120% */
letter-spacing: 0.02em;
    
}

.mobile-menu-sm-links {
  display: flex;
  gap: 56px;
  margin-top: auto;
}

.mobile-menu-sm-links-item {
  width: 40px;
  height: 40px;
}

.mobile-menu-sm-link {
  width: 100%;
  height: 100%;
  background-color: var(--IRIS);
  display: flex;
  border-radius: 50% 50%;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-sm-link:focus,
.mobile-menu-sm-link:hover {
  background-color: #31d0aa;
}

.mobile-menu-sm-links-icon {
  position: relative;
  fill: var(--CLOUD);
}
}


/* =============================== Tab ============================== */

@media screen and (min-width: 768px) {
  .container {
    
  max-width: 768px;
 

}

.mobile-menu-navigation {
    display: none;
    
}


.mobile-menu-open-button {
    display: none;
}
.mobile-menu-navigation {

}

.nav-list {
    display: flex;
}
.address {
   display: flex;
  
}
  }



/* ============================== Desktop ============================= */
@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
  }
}