:root {
  --IRIS: #4d5ae5;
  --NAVY: #2e2f42;
  --SLATE: #434455;
  --WHITE: #ffffff;
  --CLOUD: #f4f4fd;
  --OCEAN: #404bbf;
  --CORNFLOWER: #e7e9fc;
}
:root {
  --letter-spacing-h2: 0.036em;
  --letter-spacing-h3: 0.02em;
  --letter-spacing-button-text: 0.02em;
  --letter-spacing-logo: 0.03em;
  --letter-spacing-text: 0.02em;
  --main-header-text: 0.02em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ol,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--SLATE);
  background-color: var(--WHITE);
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ============================================================================= */
/* ============================= Mobile version ================================ */
/* ============================================================================= */

/* ========================= Header Styles ===================================== */

.container {
  max-width: 428px;
  padding: 0 16px;
  margin-left: auto;
  margin-right: auto;
  /* background: var(--WHITE); */
}

.page-header {
  padding-top: 26px;
  padding-bottom: 24px;
  /* padding-bottom: 24px; */

  /* display: flex; */
  /* justify-content: center; */
  /* align-items:center; */
  border-bottom: 1px solid var(--CORNFLOWER);
  background: var(--WHITE);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.page-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-begin-up {
  margin-right: 76px;
  color: var(--IRIS);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: var(--letter-spacing-logo);
  text-transform: uppercase;
}

.logo-end-up {
  color: var(--NAVY);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: var(--letter-spacing-logo);
  text-transform: uppercase;
}

.nav-list {
  display: none;
}
.address {
  display: none;
}

/* ====================== Section 1 styles ========================= */

.main-index {
  display: flex;
  flex-direction: column;
  padding-top: 0px;
  padding-bottom: 0px;
  width: 100%;
  min-height: 432px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-mobile-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 104px;
}

.main-index-header-text {
  display: flex;
  flex-direction: column;
  color: var(--WHITE);

  text-align: center;
  /* Header 2 */
  font-family: "Roboto", sans-serif;

  padding-top: 112px;
  padding-left: 54px;
  padding-right: 54px;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
  width: 320px;

  margin: 0 auto;
  margin-bottom: 72px;
}

.ibutton {
  border: none;
  color: var(--WHITE);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: var(--letter-spacing-button-text);
  background-color: var(--IRIS);
  text-align: center;

  min-width: 169px;
  height: 56px;
  margin: 0 auto;
  padding: 16px 32px 16px 32px;

  display: block;
  align-items: flex-start;
  gap: 10px;

  border-radius: 4px;
  background: var(--IRIS);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ibutton:focus,
.ibutton:hover {
  background-color: var(--OCEAN);
}

/* ====================== Section two ============================= */

.features-icons-container {
  display: none;
}
.features-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
  margin-bottom: 96px;
}

.features-list-header {
  width: 100%;
  color: var(--NAVY);
  text-align: center;
  /* Header 2 */

  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 8px;
}

.features-list-text {
  color: var(--SLATE);
  /* Body Medium */

  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}

/* ========================Section three ============================ */
.works {
  display: none;
}
/* ========================= Section four ============================ */
.team {
  background-color: var(--CLOUD);
  min-height: 2232px;
  width: 100%;
}
.team-header {
  padding-top: 96px;
  color: var(--NAVY);
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}
.team-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--WHITE);
  width: 264px;
  border-radius: 0px 0px 4px 4px;
  background: var(--WHITE);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.team-image {
  margin-bottom: 32px;
}

.team-image-text {
  display: flex;
  flex-direction: column;
  width: 264px;
  padding-bottom: 32px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.team-list-header {
  color: var(--NAVY);
  text-align: center;
  /* Header 3 */
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
}
.team-list-text {
  font-size: 16px;

  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}

.sm-links {
  justify-content: center;
  display: flex;
  gap: 24px;
  align-content: center;
}

.sm-links-item {
  width: 40px;
  height: 40px;
}

.sm-link {
  width: 100%;
  height: 100%;
  background-color: var(--IRIS);
  display: flex;
  border-radius: 50% 50%;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sm-link:focus,
.sm-link:hover {
  background-color: var(--OCEAN);
}

.sm-links-icon {
  position: relative;
  fill: var(--CLOUD);
}

/* =========================== Section five ======================== */
.clients {
  padding-bottom: 96px;
}

.clients-header {
  padding-top: 96px;
  color: var(--NAVY);
  text-align: center;
  /* Header 2 */
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: var(--letter-spacing-h2);
  text-transform: capitalize;
  margin-bottom: 72px;
}

.clients-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  row-gap: 72px;
}

.client-link {
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #8e8f99;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-link:focus,
.client-link:hover {
  border-color: #404bbf;
  color: #404bbf;
}

.clients-cards-item {
  display: flex;
  min-width: 168px;
  height: 88px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc((100% - 24px * 5) / 6);
  background-color: var(--WHITE);
}

.clients-icon {
  fill: currentColor;
}
/* ====================== Mobile only ============================== */
@media screen and (max-width: 767px) {
  .mobile-menu-open-button {
    border: none;
    background-color: transparent;
    line-height: 0;
    padding: 0;
    stroke: var(--NAVY);
  }

  .mobile-menu-container {
    position: fixed;
    top: 0;
    right: 0;
    background-color: var(--WHITE);
    z-index: 9999999;
    width: 100%;
    height: 100%;
    padding-left: 40px;
    padding-bottom: 40px;
    transform: translateX(100%);
    transition: transform 250ms linear;
  }

  .mobile-menu-container.is-open {
    transform: translateX(0%);
  }

  .mobile-menu-container-close-button {
    position: absolute;
    top: 24px;

    right: 24px;
    width: 24px;
    height: 24px;
    display: flex;
    border: none;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    /* background-color: transparent; */
    /* line-height: 0; */
    /* padding: 0; */
    stroke: var(--WHITE);
    margin-left: auto;
  }

  .mobile-menu-navigation {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    margin-left: 40px;
    margin-bottom: 284px;
  }

  .mobile-menu-nav-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 40px;
  }

  .mobile-menu-nav-list-item {
  }

  .mobile-nav-menu-link {
    color: var(--NAVY);
    font-size: 36px;

    font-weight: 700;
    line-height: 1.11; /* 111.111% */
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-nav-menu-link:focus,
  .mobile-nav-menu-link:hover {
    color: var(--IRIS);
  }

  .mobile-menu-address {
    margin-top: auto;
    margin-bottom: 48px;
  }

  .mobile-menu-address-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .mobile-menu-phone {
    width: auto;
    max-height: 40px;
    color: var(--IRIS);

    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11; /* 111.111% */
    letter-spacing: 0.02em;
    text-transform: capitalize;
  }
  .mobile-menu-address-text {
    max-width: 192px;
    max-height: 24px;
    color: var(--SLATE);
    font-style: normal;
    font-size: 20px;

    font-weight: 500;
    line-height: 1.2px; /* 120% */
    letter-spacing: 0.02em;
  }

  .mobile-menu-sm-links {
    display: flex;

    margin-top: auto;
    margin-bottom: 40px;
  }

  .mobile-menu-sm-links-item {
    width: 40px;
    height: 40px;
    margin-right: auto;
  }

  .mobile-menu-sm-link {
    width: 100%;
    height: 100%;
    background-color: var(--IRIS);
    display: flex;
    border-radius: 50% 50%;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu-sm-link:focus,
  .mobile-menu-sm-link:hover {
    background-color: #31d0aa;
  }

  .mobile-menu-sm-links-icon {
    position: relative;
    fill: var(--CLOUD);
  }
}

/* =============================== Tab ============================== */

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .mobile-menu-navigation {
    display: none;
  }

  .mobile-menu-open-button {
    display: none;
  }
  .mobile-menu-navigation {
  }

  .nav-list {
    display: flex;
  }
  .address {
    display: flex;
  }
}

/* ============================== Desktop ============================= */
@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
  }
}
