:root {
  --IRIS: #4d5ae5;
  --NAVY: #2e2f42;
  --SLATE: #434455;
  --WHITE: #ffffff;
  --CLOUD: #f4f4fd;
  --OCEAN: #404bbf;
  --CORNFLOWER: #e7e9fc;
}
:root {
  --letter-spacing-h2: 0.036em;
  --letter-spacing-h3: 0.02em;
  --letter-spacing-button-text: 0.02em;
  --letter-spacing-logo: 0.03em;
  --letter-spacing-text: 0.02em;
  --main-header-text: 0.02em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ol,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--SLATE);
  background-color: var(--WHITE);
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}



.container {
  max-width: 428px;
  padding: 0
  margin-left: auto;
  margin-right: auto;
  background: var(--WHITE);

}

.page-header {
    padding: 26px 16px 24px 16px;
    /* padding-bottom: 24px; */


    /* display: flex; */
    /* justify-content: center; */
  /* align-items:center; */
  border-bottom: 1px solid var(--CORNFLOWER);
  background: var(--WHITE);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.page-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-begin-up {
  margin-right: 76px;
  color: var(--IRIS);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: var(--letter-spacing-logo);
  text-transform: uppercase;
}

.logo-end-up {
  color: var(--NAVY);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: var(--letter-spacing-logo);
  text-transform: uppercase;
}

.mobile-menu-open-button {
    border: none;
    background-color: transparent;
    line-height: 0;
    padding: 0;
    stroke: var(--NAVY);

}

.mobile-menu-container {
    position: fixed;
    top: 0;
    right: 0;
    background-color: var(--OCEAN);
    z-index: 9999999
    width: 428px;
    height: 100%;
    padding-left: 40px;
    padding-bottom: 40px;
}

.mobile-menu-close-button {
    position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
    display: flex;
    border: none;
    border-radius: 50%;
    align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    /* background-color: transparent; */
    /* line-height: 0; */
    /* padding: 0; */
    stroke: var(--WHITE);
    margin-left: auto;
    margin-bottom: 32px;

}

.nav-list {
    display: none;
}
.address {
   display: none;
  
}
